<div>
    <div *ngIf="currentUser.id" class="edit-form">
      <h4>Person</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentUser.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="nom">Nom</label>
          <input
            type="text"
            class="form-control"
            id="nom"
            [(ngModel)]="currentUser.nom"
            name="nom"
          />
        </div>
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input
            type="text"
            class="form-control"
            id="prenom"
            [(ngModel)]="currentUser.prenom"
            name="prenom"
          />
        </div>
       
      </form>
     
      <button class="badge badge-danger mr-2" (click)="deleteUser()">
        Delete
      </button>
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateUser()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentUser.id">
      <br />
      <p>Cannot access this Tutorial...</p>
    </div>
  </div>
  