<div>
    <div *ngIf="currentPerson.id" class="edit-form">
      <h4>Person</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentPerson.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="nom">Nom</label>
          <input
            type="text"
            class="form-control"
            id="nom"
            [(ngModel)]="currentPerson.nom"
            name="nom"
          />
        </div>
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input
            type="text"
            class="form-control"
            id="prenom"
            [(ngModel)]="currentPerson.prenom"
            name="prenom"
          />
        </div>
       
      </form>
     
      <button class="badge badge-danger mr-2" (click)="deletePerson()">
        Delete
      </button>
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updatePerson()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentPerson.id">
      <br />
      <p>Cannot access this Tutorial...</p>
    </div>
  </div>
  